<div class="center">
  <form>
    <h1 class="h3 mb-3 fw-normal"><b>Login</b></h1>

    <div class="form-floating">
      <label for="floatingInput">Email address</label>

      <input
        type="email"
        class="form-control"
        id="username"
        placeholder="name.surname@airbus.com"
      />
    </div>
    <div class="form-floating">
      <label for="floatingPassword">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">
      Login
    </button>
  </form>
</div>
